*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit; }

a:active, a:visited {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  overflow-x: hidden;
  font-family: 'Vidaloka', serif; }
  @media only screen and (min-width: 112.5em) {
    body, html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 75em) {
    body, html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    body, html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    body, html {
      font-size: 45%; } }

.heading-primary {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  margin-bottom: 1rem; }
  .heading-primary__secondary {
    font-size: 2rem;
    display: inline-block;
    margin-left: 2rem;
    margin-top: -22rem;
    letter-spacing: 1px; }

.boba {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1rem; }
  .boba__tapioca {
    background: black;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, black, lightcyan);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, black, lightcyan); }
  .boba__strawberry {
    background: #ab0d26;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #ff9999, #ab0d26);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #ff9999, #ab0d26); }
  .boba__pineapple {
    background: orange;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, orange, yellow);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, orange, yellow); }
  .boba__lychee {
    background: #ec2f55;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #ec2f55, #f1928c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #ec2f55, #f1928c); }
  .boba__rainbow {
    background: #9796f0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .boba__green-apple {
    background: lightgreen;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, lightgreen, #ccffcc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, lightgreen, #ccffcc); }
  .boba__passion-fruit {
    background: #E2B1CD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFDEE5, #E2B1CD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFDEE5, #E2B1CD); }
  .boba__mango {
    background: #FF8243;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8243, #FFE043);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8243, #FFE043); }

.jelly {
  padding: 6px 12px 6px 12px;
  display: inline-block;
  margin-left: 1rem;
  border-radius: 2px; }
  .jelly__aloe-vera {
    background: #B2FFB2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #B2FFB2, white);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #B2FFB2, white);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .jelly__strawberry {
    background: #ff4c4c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #ff4c4c, #ab0d26);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #ff4c4c, #ab0d26); }
  .jelly__pineapple {
    background: orange;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, orange, yellow);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, orange, yellow); }
  .jelly__lychee {
    background: #ec2f55;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #ec2f55, #f1928c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #ec2f55, #f1928c); }
  .jelly__rainbow {
    background: #9796f0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .jelly__green-apple {
    background: lightgreen;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, lightgreen, #ccffcc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, lightgreen, #ccffcc); }
  .jelly__passion-fruit {
    background: #E2B1CD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFDEE5, #E2B1CD);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFDEE5, #E2B1CD); }
  .jelly__mango {
    background: #FF8243;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8243, #FFE043);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8243, #FFE043); }

.button-primary {
  padding: 1rem;
  width: 15rem;
  display: block;
  border-radius: 5px;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Vidaloka', serif;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all .3s;
  filter: brightness(1.2); }
  .button-primary__taro {
    border: 2px solid #D0AAF3;
    color: #D0AAF3; }
    .button-primary__taro:hover {
      cursor: pointer;
      transform: translateY(-2px);
      color: #D0AAF3; }
  .button-primary__milk-tea {
    border: 2px solid #FFC3A0;
    color: #FFC3A0; }
    .button-primary__milk-tea:hover {
      cursor: pointer;
      transform: translateY(-2px);
      color: #FFC3A0; }
  .button-primary:active {
    transform: translateY(2px);
    -webkit-box-shadow: 5px 5px 18px 0px #b3b3b3;
    -moz-box-shadow: 5px 5px 18px 0px #b3b3b3;
    box-shadow: 5px 5px 18px 0px #b3b3b3; }

.logo {
  padding: 3rem;
  position: relative;
  width: 28rem;
  text-align: center; }
  .logo__text {
    font-size: 3rem;
    font-family: 'Vidaloka', serif;
    letter-spacing: 1px;
    font-weight: 700;
    color: white;
    text-shadow: 0px 0px .5rem #FFFFFF; }
  .logo__cup-1 {
    position: absolute;
    width: 4rem;
    top: 2rem;
    left: 0;
    transform: rotate(-10deg); }
  .logo__cup-2 {
    position: absolute;
    width: 4rem;
    top: 2rem;
    right: 2rem;
    transform: rotate(10deg); }

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  clear: right;
  color: #777; }
  .menu__section {
    padding: 7rem;
    background: #06beb6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #48b1bf, #06beb6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #48b1bf, #06beb6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 4rem 1rem 0 1rem;
    border-radius: 5px;
    display: block;
    min-width: 50rem; }
    .menu__section-1 {
      flex: 1; }
    .menu__section-2 {
      flex: 2; }
    .menu__section__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
    .menu__section__selection {
      background-color: white;
      padding: 2rem;
      font-size: 2rem;
      border-radius: 3px;
      -webkit-box-shadow: 1px 5px 12px 0px #4f4f4f;
      -moz-box-shadow: 1px 5px 12px 0px #4f4f4f;
      box-shadow: 1px 5px 12px 0px #4f4f4f;
      transition: all .3s;
      position: relative;
      z-index: 1;
      min-width: 40rem;
      display: inline-block;
      width: 45%;
      margin-top: 2rem; }
      .menu__section__selection__promotion {
        position: absolute;
        top: 0;
        left: -3.1rem;
        transform: rotate(-45deg); }
      .menu__section__selection:hover {
        cursor: pointer;
        transform: translateY(-3px); }
      .menu__section__selection__pic {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 1rem; }
      .menu__section__selection__hc {
        font-size: 1.6rem;
        position: absolute;
        top: 2.5rem;
        right: 8rem; }
    .menu__section__horizontal__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .menu__section__horizontal__list__item {
        background-color: white;
        padding: 2rem;
        margin: 1.5rem 5rem 0 0;
        width: 30rem;
        border-radius: 1rem;
        text-align: center;
        -webkit-box-shadow: 1px 5px 12px 0px #4f4f4f;
        -moz-box-shadow: 1px 5px 12px 0px #4f4f4f;
        box-shadow: 1px 5px 12px 0px #4f4f4f;
        transition: all .3s;
        position: relative; }
        .menu__section__horizontal__list__item__promotion {
          position: absolute;
          transform: rotate(-40deg);
          top: 1rem;
          left: -3.3rem; }
        .menu__section__horizontal__list__item__title {
          font-size: 2rem;
          color: #777; }
        .menu__section__horizontal__list__item:hover {
          cursor: pointer;
          transform: translateY(-3px); }
    .menu__section__flavor {
      display: flex;
      margin-bottom: 2rem;
      flex-wrap: wrap; }
      .menu__section__flavor__item {
        padding: 2rem;
        margin: 0 1rem 1rem 1rem;
        flex: 1;
        border-radius: 5px;
        text-align: center;
        -webkit-box-shadow: 1px 5px 12px 0px #4f4f4f;
        -moz-box-shadow: 1px 5px 12px 0px #4f4f4f;
        box-shadow: 1px 5px 12px 0px #4f4f4f;
        background: url("../img/bubble-tea.jpg");
        background-size: cover;
        position: relative; }
        .menu__section__flavor__item__promotion {
          position: absolute;
          top: 2rem;
          transform: rotate(-40deg);
          left: -3rem; }
        .menu__section__flavor__item__title {
          font-size: 2rem;
          margin-bottom: 1.5rem; }
        .menu__section__flavor__item__container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around; }
        .menu__section__flavor__item__ul {
          font-size: 1.6rem;
          list-style-type: none;
          margin: 0 3rem 0 3rem; }
          .menu__section__flavor__item__ul__li {
            margin: 0 4px 5px 4px; }
            .menu__section__flavor__item__ul__li__a {
              text-decoration: none;
              color: inherit; }
              .menu__section__flavor__item__ul__li__a:hover {
                color: #7FBF7F; }
    .menu__section__toppings {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .menu__section__toppings__item {
        flex: 1;
        background-color: white;
        padding: 2rem;
        margin: 0 1rem 1rem 1rem;
        border-radius: 5px;
        text-align: center;
        -webkit-box-shadow: 1px 5px 12px 0px #4f4f4f;
        -moz-box-shadow: 1px 5px 12px 0px #4f4f4f;
        box-shadow: 1px 5px 12px 0px #4f4f4f;
        position: relative; }
        .menu__section__toppings__item__promotion {
          position: absolute;
          top: 1.6rem;
          left: -6rem;
          transform: rotate(-30deg); }
        .menu__section__toppings__item__container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around; }
        .menu__section__toppings__item__ul {
          list-style: none;
          font-size: 1.6rem;
          color: #777;
          margin: 0 5rem 0 5rem; }
          .menu__section__toppings__item__ul__li {
            margin-bottom: .5rem; }
            .menu__section__toppings__item__ul__li__link {
              color: inherit;
              text-decoration: none; }
              .menu__section__toppings__item__ul__li__link:hover {
                color: #D0AAF3; }
        .menu__section__toppings__item__title {
          font-size: 2rem;
          margin-bottom: 1.5rem; }

.navbar {
  height: 8rem;
  line-height: 8rem;
  background: #272b33; }
  .navbar__hamburger {
    font-size: 3rem;
    color: white;
    float: right;
    display: none;
    width: 40px;
    text-align: center;
    line-height: 8rem;
    transition: all .3s;
    margin-right: 3rem; }
    .navbar__hamburger__toggle {
      display: none; }
    .navbar__hamburger:hover {
      cursor: pointer;
      color: #AFEEEE; }
    @media only screen and (max-width: 37.5em) {
      .navbar__hamburger {
        display: block; } }
  .navbar__menu {
    font-size: 1.6rem;
    text-align: center;
    transition: all 1s;
    font-weight: bold; }
    .navbar__menu__list {
      clear: right;
      text-decoration: none;
      color: white;
      margin: 0 1rem;
      line-height: 8rem;
      transition: all .3s;
      backface-visibility: hidden;
      letter-spacing: 1px; }
      .navbar__menu__list:hover {
        color: #FFC3A0; }
      @media only screen and (max-width: 37.5em) {
        .navbar__menu__list {
          display: block;
          border-bottom: 1px solid #D0AAF3;
          margin: 0;
          background-color: white;
          z-index: 100;
          position: relative;
          color: #777; }
          .navbar__menu__list:hover {
            color: #FFC3A0;
            border-bottom: 1px solid #FFC3A0; } }
    @media only screen and (max-width: 37.5em) {
      .navbar__menu {
        text-align: center;
        display: none; } }

#toggle:checked + .navbar__menu {
  display: block; }

.xs-cup {
  border-left: .7rem solid transparent;
  border-right: .7rem solid transparent;
  height: 1.2rem;
  width: 4rem;
  transform: rotate(180deg);
  position: relative;
  margin: 1rem;
  border-radius: 3px; }
  .xs-cup__tea {
    border-bottom: 5rem solid #D0AAF3; }
  .xs-cup__milk-tea {
    border-bottom: 5rem solid #FFC3A0; }
  .xs-cup__coffee {
    border-bottom: 5rem solid #6f4e37; }
  .xs-cup__milk {
    border-bottom: 5rem solid #FFECDC; }
  .xs-cup__smoothie {
    border-bottom: 5rem solid #ffe8ee; }
  .xs-cup__green-tea {
    border-bottom: 5rem solid #7FBF7F; }
  .xs-cup__slush {
    border-bottom: 5rem solid #AFEEEE; }
  .xs-cup__lid {
    width: 4rem;
    height: 2rem;
    /* as the half of the width */
    background-color: white;
    border-top-left-radius: 2.1rem;
    /* 100px of height + 10px of border */
    border-top-right-radius: 2.1rem;
    /* 100px of height + 10px of border */
    border: 2px solid #FFECDC;
    border-bottom: 0;
    transform: rotate(180deg) translateY(-5rem) translateX(0.7rem);
    position: absolute;
    top: 0;
    z-index: 1; }
  .xs-cup__boba-container {
    width: 2.5rem;
    height: 2rem;
    position: relative; }
  .xs-cup__boba {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #777;
    position: absolute; }
    .xs-cup__boba-1 {
      top: 0;
      right: 0; }
    .xs-cup__boba-2 {
      top: 3px;
      right: 5px; }
    .xs-cup__boba-3 {
      top: 10px;
      right: 4px; }
    .xs-cup__boba-4 {
      top: 8px;
      right: 10px; }
    .xs-cup__boba-5 {
      top: 7px;
      right: 17px; }
    .xs-cup__boba-6 {
      right: 10px; }
    .xs-cup__boba-7 {
      top: 6px;
      right: 0px; }
    .xs-cup__boba-8 {
      top: 2px;
      left: 5px; }
  .xs-cup__straw {
    width: .7rem;
    height: 3rem;
    background-color: #7FBF7F;
    z-index: 100;
    position: absolute;
    top: 50px;
    left: 9px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    transform: rotate(180deg);
    opacity: .8; }

.promotion {
  font-size: 1.6rem;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: white;
  width: fit-content;
  border-radius: 5px; }
  .promotion__special {
    background: #ff0084;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #33001b, #ff0084);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #33001b, #ff0084);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: .5rem; }
  .promotion__new {
    background: #D0AAF3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #D0AAF3, #a155e7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #D0AAF3, #a155e7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: .5rem 2rem .5rem 2rem; }
  .promotion__info {
    background: #FFC3A0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #FFC3A0, #FFEB7F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #FFC3A0, #FFEB7F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: .5rem;
    color: black; }
    .promotion__info__p {
      font-size: 2rem;
      font-weight: bolder; }
  .promotion__popular {
    background: #ec008c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fc6767, #ec008c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fc6767, #ec008c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: .5rem 2rem .5rem 2rem; }

.footer {
  margin-top: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke; }
  .footer__2 {
    font-size: 1.6rem;
    background-color: black;
    padding: 1rem;
    color: white;
    text-align: center;
    letter-spacing: 2px; }
  .footer__section {
    flex: 1;
    padding: 10rem;
    position: relative;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    text-align: center; }
    .footer__section__2 {
      margin-top: 4rem; }
    .footer__section__logo {
      margin: 0 auto;
      display: block;
      width: fit-content;
      margin-bottom: 3rem; }
    .footer__section__detail {
      font-size: 1.6rem;
      padding-bottom: 1rem; }
    .footer__section__title {
      font-size: 2.5rem;
      font-weight: bold;
      padding: 3rem 0 3rem 0;
      letter-spacing: 1px; }
    .footer__section__subscription {
      margin-top: 2rem; }
      .footer__section__subscription__input {
        background-color: white;
        padding: 2rem;
        border-radius: 3px;
        font-size: 2rem;
        color: #777; }
      .footer__section__subscription__button {
        padding: 2rem;
        font-size: 2rem;
        color: white;
        background: #D0AAF3;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom right, #D0AAF3, #a155e7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom right, #D0AAF3, #a155e7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 3px; }
        .footer__section__subscription__button:hover {
          cursor: pointer;
          background: #FFC3A0;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to top right, #FFC3A0, #FFEB7F);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to top right, #FFC3A0, #FFEB7F);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .footer__section__ul {
      list-style: none;
      font-size: 1.6rem;
      padding: 0 15rem 0 15rem;
      width: fit-content;
      margin: 0 auto; }
      .footer__section__ul__li {
        padding-bottom: 1rem; }
        .footer__section__ul__li__a {
          text-decoration: none;
          color: white; }
          .footer__section__ul__li__a:hover {
            color: #7FBF7F; }

.header-1 {
  background: #272b33;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .header-1__right {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    width: 33rem; }
    @media only screen and (max-width: 37.5em) {
      .header-1__right {
        padding-top: 1rem;
        padding-bottom: 1rem; } }
  .header-1__logo {
    width: 28rem;
    padding-top: 1rem; }
  .header-1__button {
    width: 20rem;
    text-decoration: none; }

.header-2 {
  background: #74ebd5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #ACB6E5, #74ebd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #ACB6E5, #74ebd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 2px; }
