*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit; }

a:active, a:visited {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  background-color: white;
  overflow-x: hidden;
  font-family: 'Vidaloka', serif; }

.heading-primary {
  font-size: 6rem;
  color: white;
  font-weight: 700; }
  .heading-primary__secondary {
    font-size: 3rem;
    display: inline-block;
    margin-left: 3rem;
    margin-top: -20rem;
    letter-spacing: 1px; }

.button-primary {
  padding: 1rem;
  width: 15rem;
  display: block;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Vidaloka', serif;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all .3s;
  -webkit-box-shadow: 5px 5px 18px 0px #b3b3b3;
  -moz-box-shadow: 5px 5px 18px 0px #b3b3b3;
  box-shadow: 5px 5px 18px 0px #b3b3b3; }
  .button-primary__taro {
    background: #D0AAF3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D0AAF3, #a155e7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D0AAF3, #a155e7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white; }
    .button-primary__taro:hover {
      cursor: pointer;
      background: #FFC3A0;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #FFC3A0, #FFEB7F);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #FFC3A0, #FFEB7F);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-box-shadow: 5px 5px 18px 0px #a8a5a8;
      -moz-box-shadow: 5px 5px 18px 0px #a8a5a8;
      box-shadow: 5px 5px 18px 0px #a8a5a8;
      transform: translateY(-2px);
      color: #777; }
  .button-primary__milk-tea {
    background: #FFC3A0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFC3A0, #FFEB7F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFC3A0, #FFEB7F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #777; }
    .button-primary__milk-tea:hover {
      cursor: pointer;
      background: #D0AAF3;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #D0AAF3, #a155e7);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #D0AAF3, #a155e7);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-box-shadow: 5px 5px 18px 0px #a8a5a8;
      -moz-box-shadow: 5px 5px 18px 0px #a8a5a8;
      box-shadow: 5px 5px 18px 0px #a8a5a8;
      transform: translateY(-2px);
      color: white; }
  .button-primary:active {
    transform: translateY(2px);
    -webkit-box-shadow: 5px 5px 18px 0px #b3b3b3;
    -moz-box-shadow: 5px 5px 18px 0px #b3b3b3;
    box-shadow: 5px 5px 18px 0px #b3b3b3; }

.logo {
  padding: 3rem;
  position: relative;
  width: 28rem;
  text-align: center; }
  .logo__text {
    font-size: 3rem;
    font-family: 'Vidaloka', serif;
    letter-spacing: 1px;
    font-weight: 700;
    color: #777; }
  .logo__cup-1 {
    position: absolute;
    width: 4rem;
    top: 2rem;
    left: 0;
    transform: rotate(-10deg); }
  .logo__cup-2 {
    position: absolute;
    width: 4rem;
    top: 2rem;
    right: 2rem;
    transform: rotate(10deg); }

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .menu__section {
    padding: 7rem;
    background: #06beb6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #48b1bf, #06beb6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #48b1bf, #06beb6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 4rem 1rem 0 1rem;
    border-radius: 5px;
    min-width: 50rem; }
    .menu__section-1 {
      flex: 1; }
    .menu__section-2 {
      flex: 2; }
    .menu__section__selection {
      background-color: white;
      padding: 2rem;
      margin-top: 2rem;
      color: #777;
      font-size: 4rem;
      border-radius: 3px;
      -webkit-box-shadow: 1px 5px 12px 0px #4f4f4f;
      -moz-box-shadow: 1px 5px 12px 0px #4f4f4f;
      box-shadow: 1px 5px 12px 0px #4f4f4f;
      transition: all .3s;
      position: relative;
      z-index: 1;
      min-width: 40rem; }
      .menu__section__selection:hover {
        cursor: pointer;
        transform: translateY(-3px); }
      .menu__section__selection__pic {
        display: inline-block;
        position: absolute;
        top: 1rem;
        right: 1rem; }
      .menu__section__selection__hc {
        font-size: 2rem;
        position: absolute;
        top: 3rem;
        right: 8rem; }

.navbar {
  height: 8rem;
  border-bottom: 2px solid #D0AAF3;
  line-height: 8rem; }
  .navbar__hamburger {
    font-size: 3rem;
    color: #a155e7;
    float: right;
    display: none;
    width: 26px;
    text-align: right;
    margin-right: 3rem;
    line-height: 8rem;
    transition: all .3s; }
    .navbar__hamburger__toggle {
      display: none; }
    .navbar__hamburger:hover {
      cursor: pointer;
      color: #FFC3A0; }
    @media only screen and (max-width: 37.5em) {
      .navbar__hamburger {
        display: block; } }
  .navbar__menu {
    font-size: 2rem;
    text-align: center;
    transition: all 1s;
    font-weight: bold; }
    .navbar__menu__list {
      clear: right;
      text-decoration: none;
      color: #777;
      margin: 0 1rem;
      line-height: 8rem;
      transition: all .3s;
      backface-visibility: hidden;
      letter-spacing: 1px; }
      .navbar__menu__list:hover {
        color: #FFC3A0; }
      @media only screen and (max-width: 37.5em) {
        .navbar__menu__list {
          display: block;
          border-bottom: 1px solid #D0AAF3;
          margin: 0;
          background-color: white;
          z-index: 100;
          position: relative; }
          .navbar__menu__list:hover {
            color: #FFC3A0;
            border-bottom: 1px solid #FFC3A0; } }
    @media only screen and (max-width: 37.5em) {
      .navbar__menu {
        text-align: center;
        display: none; } }

#toggle:checked + .navbar__menu {
  display: block; }

.xs-cup {
  border-left: .7rem solid transparent;
  border-right: .7rem solid transparent;
  height: 1.2rem;
  width: 4rem;
  transform: rotate(180deg);
  position: relative;
  margin: 1rem; }
  .xs-cup__tea {
    border-bottom: 5rem solid #D0AAF3; }
  .xs-cup__milk-tea {
    border-bottom: 5rem solid #FFC3A0; }
  .xs-cup__coffee {
    border-bottom: 5rem solid #6f4e37; }
  .xs-cup__milk {
    border-bottom: 5rem solid #FFECDC; }
  .xs-cup__smoothie {
    border-bottom: 5rem solid #ffe8ee; }
  .xs-cup__green-tea {
    border-bottom: 5rem solid #7FBF7F; }
  .xs-cup__lid {
    width: 4rem;
    height: 2rem;
    /* as the half of the width */
    background-color: white;
    border-top-left-radius: 2.1rem;
    /* 100px of height + 10px of border */
    border-top-right-radius: 2.1rem;
    /* 100px of height + 10px of border */
    border: 1px solid white;
    border-bottom: 0;
    transform: rotate(180deg) translateY(-5rem) translateX(0.7rem);
    position: absolute;
    top: 0;
    z-index: 1; }
  .xs-cup__boba-container {
    width: 2.5rem;
    height: 2rem;
    position: relative; }
  .xs-cup__boba {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #777;
    position: absolute; }
    .xs-cup__boba-1 {
      top: 0;
      right: 0; }
    .xs-cup__boba-2 {
      top: 3px;
      right: 5px; }
    .xs-cup__boba-3 {
      top: 10px;
      right: 4px; }
    .xs-cup__boba-4 {
      top: 8px;
      right: 10px; }
    .xs-cup__boba-5 {
      top: 7px;
      right: 17px; }
    .xs-cup__boba-6 {
      right: 10px; }
    .xs-cup__boba-7 {
      top: 6px;
      right: 0px; }
    .xs-cup__boba-8 {
      top: 2px;
      left: 5px; }
  .xs-cup__straw {
    width: .7rem;
    height: 3rem;
    background-color: #7FBF7F;
    z-index: 100;
    position: absolute;
    top: 50px;
    left: 9px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    transform: rotate(180deg);
    opacity: .8; }

.header-1 {
  background: #C4E0E5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #C4E0E5, white);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #C4E0E5, white);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 2px solid lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .header-1__right {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    width: 33rem; }
    @media only screen and (max-width: 37.5em) {
      .header-1__right {
        padding-top: 1rem;
        padding-bottom: 1rem; } }
  .header-1__logo {
    width: 28rem;
    padding-top: 1rem; }
  .header-1__button {
    width: 20rem;
    text-decoration: none; }
