.footer{
  margin-top: 10rem;
  background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  color: whitesmoke;

  &__section{
    flex: 1;
    padding: 10rem;
    position: relative;
    border-right: 1px solid $color-grey-dark;
    border-bottom: 1px solid $color-grey-dark;
    text-align: center;

    &__2{
      margin-top: 4rem;
    }

    &__logo{
      margin: 0 auto;
      display: block;
      width: fit-content;
      margin-bottom: 3rem;
    }

    &__detail{
      font-size: $default-font-size;
      padding-bottom: 1rem;
    }
  }
}