.header-1{
  background: #272b33;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__right{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    width: 33rem;
    //background-color: #9463ff;

    @include respond(phone) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  &__logo{
    width: 28rem;
    padding-top: 1rem;

  }

  &__button{
    width: 20rem;
    text-decoration: none;
  }
}

.header-2{
  @include linear-gradient-digital-water;
  height: 2px;
}