@mixin linear-gradient-bg-light-blue{
  background: #C4E0E5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #C4E0E5, white);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #C4E0E5, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin linear-gradient-taro{
  background: $color-taro;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $color-taro, $color-dark-taro);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $color-taro, $color-dark-taro); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin linear-gradient-milk-tea{

  background: $color-milk-tea;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, $color-milk-tea, $color-mango);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $color-milk-tea, $color-mango); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@mixin absCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 //media queries
@mixin respond($breakpoint){
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {    // 600px
      @content
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and  (max-width: 62.5em) {   // 1000px
      @content
    }
  }

  @if $breakpoint == tab-land{
    @media only screen and  (max-width: 75em) {    // 1200px
      @content
    }
  }

  @if $breakpoint == big-desktop{
    @media only screen and  (min-width: 112.5em) { //1800px
      @content
    }
  }
}