$color-light-beige: #FFECDC;
$color-milk-tea: #FFC3A0;
$color-taro: #D0AAF3;
$color-turquoise: #AFEEEE;
$color-green-tea: #7FBF7F;
$color-coconut: #F5F5F5;
$color-mango: #FFEB7F;

$color-black: #000;
$color-grey-dark: #777;

$color-background-light-beige: #F5F5DC;