.heading-primary{
  font-size: 3rem;
  color: white;
  font-weight: 700;
  margin-bottom: 1rem;

  &__secondary{
    font-size: 2rem;
    display: inline-block;
    margin-left: 2rem;
    margin-top: -22rem;
    letter-spacing: 1px;
  }
}