.heading-primary{
  font-size: 6rem;
  color: white;
  font-weight: 700;
  width: fit-content;
  display: inline-block;

  &__secondary{
    font-size: 3rem;
    display: inline-block;
    margin-left: 3rem;
    margin-top: -20rem;
    letter-spacing: 1px;
  }
}