.button-primary{
  padding: 1rem;
  width: 15rem;
  display: block;
  border-radius: 5px;
  font-size: 2rem;
  text-align: center;
  font-family: 'Vidaloka', serif;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all .3s;
  -webkit-box-shadow: 5px 5px 18px 0px rgba(179,179,179,1);
  -moz-box-shadow: 5px 5px 18px 0px rgba(179,179,179,1);
  box-shadow: 5px 5px 18px 0px rgba(179,179,179,1);

  &__taro{
    @include linear-gradient-taro;
    color: white;

    &:hover{
      cursor: pointer;
      @include linear-gradient-milk-tea;
      -webkit-box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      -moz-box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      transform: translateY(-2px);
      color: $color-grey-dark;
    }
  }

  &__milk-tea{
    @include linear-gradient-milk-tea;
    color: $color-grey-dark;

    &:hover{
      cursor: pointer;
      @include linear-gradient-taro;
      -webkit-box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      -moz-box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      transform: translateY(-2px);
      color: white;
    }
  }



  &:active{
    transform: translateY(2px);
    -webkit-box-shadow: 5px 5px 18px 0px rgba(179,179,179,1);
    -moz-box-shadow: 5px 5px 18px 0px rgba(179,179,179,1);
    box-shadow: 5px 5px 18px 0px rgba(179,179,179,1);

  }

}