.button-primary{
  padding: 1rem;
  width: 15rem;
  display: block;
  border-radius: 5px;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Vidaloka', serif;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all .3s;
  filter: brightness(1.2);

  &__taro{
    border: 2px solid $color-taro;
    color: $color-taro;

    &:hover{
      cursor: pointer;
      //-webkit-box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      //-moz-box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      //box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      transform: translateY(-2px);
      color: $color-taro;
    }
  }

  &__milk-tea{
    border: 2px solid $color-milk-tea;
    color: $color-milk-tea;

    &:hover{
      cursor: pointer;
      //-webkit-box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      //-moz-box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      //box-shadow: 5px 5px 18px 0px rgba(168,165,168,1);
      transform: translateY(-2px);
      color: $color-milk-tea;
    }
  }



  &:active{
    transform: translateY(2px);
    -webkit-box-shadow: 5px 5px 18px 0px rgba(179,179,179,1);
    -moz-box-shadow: 5px 5px 18px 0px rgba(179,179,179,1);
    box-shadow: 5px 5px 18px 0px rgba(179,179,179,1);

  }

}