.jelly{
  padding: 6px 12px 6px 12px;
  display: inline-block;
  margin-left: 1rem;
  border-radius: 2px;

  &__aloe-vera{
    background: #B2FFB2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #B2FFB2, white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #B2FFB2, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &__strawberry{
    background: #ff4c4c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #ff4c4c, #ab0d26);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #ff4c4c, #ab0d26);
  }

  &__pineapple{
    background: orange;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, orange, yellow);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, orange, yellow);
  }

  &__lychee{
    background: #ec2f55;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #ec2f55, #f1928c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #ec2f55,#f1928c);
  }

  &__rainbow{
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &__green-apple{
    background: lightgreen;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, lightgreen, #ccffcc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, lightgreen, #ccffcc);
  }

  &__passion-fruit{
    background: #E2B1CD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFDEE5, #E2B1CD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFDEE5, #E2B1CD);
  }

  &__mango{
    background: #FF8243;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8243, #FFE043);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8243, #FFE043);
  }
}