.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__section{
    padding: 7rem;
    @include linear-gradient-socialive;
    margin: 4rem 1rem 0 1rem;
    border-radius: 5px;
    min-width: 50rem;
    display: block;

    &-1{
      flex: 1;
    }

    &-2{
      flex: 2;
    }

    &__selection{
      background-color: white;
      padding: 2rem;
      margin-top: 2rem;
      color: $color-grey-dark;
      font-size: 4rem;
      border-radius: 3px;
      -webkit-box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
      -moz-box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
      box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
      transition: all .3s;
      position: relative;
      z-index: 1;
      min-width: 40rem;

      &:hover{
        cursor: pointer;
        transform: translateY(-3px);
      }

      &__pic{
        display: inline-block;
        position: absolute;
        top: 1rem;
        right: 1rem;
      }

      &__hc{
        font-size: 2rem;
        position: absolute;
        top: 3rem;
        right: 8rem;
      }

    }

    &__horizontal{
      //display: inline-block;
      //background-color: brown;

      &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__item{
          background-color: white;
          padding: 3rem;
          margin: 2rem 5rem 0 0;
          width: 50rem;
          border-radius: 1rem;
          text-align: center;

          &__title{
            font-size: 4rem;
            color: $color-grey-dark;
          }

        }
      }


    }
  }
}