.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5rem;

  &__section{
    flex: 1;
    padding: 7rem;
    //@include linear-gradient-broken-hearts;
    @include linear-gradient-socialive;
    margin: 4rem 1rem 0 1rem;
    border-radius: 5px;

    &__selection{
      background-color: white;
      padding: 2rem;
      margin-top: 2rem;
      color: $color-grey-dark;
      font-size: 4rem;
      border-radius: 3px;
      -webkit-box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
      -moz-box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
      box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
      transition: all .3s;

      &:hover{
        cursor: pointer;
        transform: translateY(-3px);
      }
    }
  }


}