.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  clear: right;

  &__section{
    padding: 7rem;
    @include linear-gradient-socialive;
    margin: 4rem 1rem 0 1rem;
    border-radius: 5px;
    display: block;
    min-width: 50rem;

    &-1{
      flex: 1;
    }

    &-2{
      flex: 2;
    }

    &__container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__selection{
      background-color: white;
      padding: 2rem;
      color: $color-grey-dark;
      font-size: 2rem;
      border-radius: 3px;
      -webkit-box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
      -moz-box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
      box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
      transition: all .3s;
      position: relative;
      z-index: 1;
      min-width: 40rem;
      display: inline-block;
      width: 45%;
      margin-top: 2rem;

      &:hover{
        cursor: pointer;
        transform: translateY(-3px);
      }

      &__pic{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 1rem;
      }

      &__hc{
        font-size: 1.6rem;
        position: absolute;
        top: 2.5rem;
        right: 8rem;
      }

    }

    &__horizontal{

      &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        &__item{
          background-color: white;
          padding: 2rem;
          margin: 1.5rem 5rem 0 0;
          width: 30rem;
          border-radius: 1rem;
          text-align: center;
          -webkit-box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
          -moz-box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
          box-shadow: 1px 5px 12px 0px rgba(79,79,79,1);
          transition: all .3s;

          &__title{
            font-size: 2rem;
            color: $color-grey-dark;
          }

          &:hover{
            cursor: pointer;
            transform: translateY(-3px);
          }
        }
      }


    }
  }
}